*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: montserrat, sans-serif;
}

h1 {
    --offset: 0.2em;
    position: fixed;
    bottom: var(--offset);
    right: var(--offset);
    font-weight: 900;
    font-size: calc(6vh + 2.5vw);
    text-align: right;
    line-height: 0.9;
}

article {
    padding: calc(24vw - 10vh);
}

article img {
    width: calc(100% + 4vw);
    height: auto;
    margin: -2vw;
}
